# Statistics Related

1. Write a Python program to find the maximum and minimum value of a given</br> flattened array.</br>
Expected Output:</br>
Original flattened array:</br>
[[0 1]</br>
[2 3]]</br>
Maximum value of the above flattened array:
3</br>
Minimum value of the above flattened array:
0

In [3]:
import numpy as np
original_mat=np.array(
    [
        [0,1],
        [2,3]
    ]
)
flattened_mat=original_mat.flatten()
print(f'Maximum value of the above flattened array:{np.max(flattened_mat)}')
print(f'Minimum value of the above flattened array:{np.min(flattened_mat)}')

Maximum value of the above flattened array:3
Minimum value of the above flattened array:0

2. Write a NumPy program to get the minimum and maximum value of a
</br>given array along the second axis.</br>
Expected Output:</br>
Original array:</br>
[[0 1]</br>
[2 3]]</br>
Maximum value along the second axis:</br>
[1 3]</br>
Minimum value along the second axis:</br>
[0 2]

In [5]:
original_matrix=np.array(
    [
        [0,1],
        [2,3]
    ]
)
print(f'Maximum value along the second axis:{np.max(original_matrix,axis=1)}')
print(f'Minimum value along the second axis:{np.min(original_matrix,axis=1)}')

Maximum value along the second axis:[1 3]
Minimum value along the second axis:[0 2]

3. Write a NumPy program to compute the 80th percentile for all elements</br>in a given array along the second axis.</br>
Expected Output:</br>
Original array:</br>
Original array:</br>
[[ 0  1  2  3  4  5]</br>
 [ 6  7  8  9 10 11]]</br>

80th percentile for all elements of the said array along the second axis:</br>
[ 4. 10.]

In [8]:
arr=np.array(
    [
        [0,1,2,3,4,5],
        [6,7,8,9,10,11]
    ]
)
print(np.percentile(arr,80,axis=1))

[ 4. 10.]

4. Write a NumPy program to compute the median of flattened given array.</br>
Note: First array elements raised to powers from second array</br>
Expected Output:</br>
Original array:</br>
[[ 0 1 2 3 4 5]</br>
[ 6 7 8 9 10 11]]</br>
Median of said array:
 5.5

In [11]:
arr=np.array(
    [
        [0,1,2,3,4,5],
        [6,7,8,9,10,11]
    ]
)
print(np.percentile(arr,50))# one way
print(np.median(arr))# 2nd way

5.5
5.5

5. Write a NumPy program to compute the covariance matrix of two given arrays.</br>
Sample Output:</br>
Original array1:</br>
[0 1 2]</br>
Original array1:</br>
[2 1 0]</br>
Covariance matrix of the said arrays:</br>
[[ 1. -1.]</br>
[-1. 1.]]

In [17]:
x=np.array([0,1,2])
y=np.array([2,1,0])
def var(vec1,vec2):
  vec1_mean,vec2_mean=np.mean(vec1),np.mean(vec2)
  var=np.sum((vec1-vec1_mean)*(vec2-vec2_mean)/(len(vec1)-1))
  return var

def cov(vec1,vec2):
  cov_mat=np.array([
      [var(vec1,vec1),var(vec1,vec2)],
      [var(vec2,vec1),var(vec2,vec2)]
  ])
  return cov_mat

print(f'Covariance matrix of the said arrays:\n{cov(x,y)}')

Covariance matrix of the said arrays:
[[ 1. -1.]
 [-1.  1.]]

6. Write a NumPy program to compute cross-correlation of two given</br>arrays.</br>
Sample Output:</br>
Original array1:</br>
[0 1 3]</br>
Original array1:</br>
[2 4 5]</br>
Cross-correlation of the said arrays:</br>
[19]

**Note:**</br>
Cross-correlation is generally used when measuring information between two different time series. The possible range for the correlation coefficient of the time series data is from -1.0 to +1.0. The closer the cross-correlation value is to 1, the more closely the sets are identical.
</br>
Investors and analysts employ cross-correlation to understand how the prices of two or more stocks—or other assets—perform against one another. This is particularly important for correlation trades such as dispersion strategies and pairs trading.
</br>
Above all, cross-correlation is used in portfolio management to measure the degree of diversification among the assets contained in a portfolio. Investors increase the diversification of their assets in order to reduce the risk of big losses.

In [18]:
print(np.correlate([0,1,3],[2,4,5]))

[19]

7. Write a NumPy program to compute pearson product-moment correlation coefficients of two given arrays.</br>
Sample Output:</br>
Original array1:</br>
[0 1 3]</br>
Original array1:</br>
[2 4 5]</br>
Pearson product-moment correlation coefficients of the said arrays:</br>
[[1. 0.92857143]</br>
[0.92857143 1. ]]</br>

**Note:**</br>
The Pearson product-moment correlation coefficient (or Pearson correlation coefficient, for short) is a measure of the strength of a linear association between two variables and is denoted by r. Basically, a Pearson product-moment correlation attempts to draw a line of best fit through the data of two variables, and the Pearson correlation coefficient, r, indicates how far away all these data points are to this line of best fit (i.e., how well the data points fit this new model/line of best fit).

![image.png]()

In [19]:
print(np.corrcoef([0,1,3],[2,4,5]))

[[1.         0.92857143]
 [0.92857143 1.        ]]

8. Calculate the peak to peak values of the given matrix</br>
[10, 14, 11, 7, 9.5, 15, 19]</br>
[8, 9, 17, 14.5, 12, 18, 15.5]</br>
[15, 7.5, 11.5, 10, 10.5, 7, 11]</br>
[11.5, 11, 9, 12, 14, 12, 7.5]</br>

In [21]:
A = np.array([[10, 14, 11, 7, 9.5, 15, 19],
              [8, 9, 17, 14.5, 12, 18, 15.5],
              [15, 7.5, 11.5, 10, 10.5, 7, 11],
              [11.5, 11, 9, 12, 14, 12, 7.5]])

# Calculate PTP values along axis 0 (columns)
a = np.ptp(A, axis=0)

# Calculate PTP values along axis 1 (rows)
b = np.ptp(A, axis=1)

print("PTP along columns (axis 0):", a)
print("PTP along rows (axis 1):", b)

PTP along columns (axis 0): [ 7.   6.5  8.   7.5  4.5 11.  11.5]
PTP along rows (axis 1): [12.  10.   8.   6.5]

# Random related

1.  Write a NumPy program to generate five random numbers from the normal distribution.</br>
Expected Output:</br>
[-0.43262625 -1.10836787 1.80791413 0.69287463 -0.53742101]

In [24]:
from numpy import random
rng=random.default_rng()
print(rng.normal(size=5))

[ 0.1942691  -0.39401135 -0.46934949  0.91671763 -1.75833428]

2. Write a NumPy program to generate six random integers between 10 and 30.</br>
Expected Output:</br>
[20 28 27 17 28 29]

In [25]:
print(rng.integers(10,30,size=6))

[14 25 21 12 10 14]

3. Write a NumPy program to create a 3x3x3 array with random values

In [26]:
print(rng.random((3,3,3)))

[[[0.07818634 0.56700717 0.46107834]
  [0.74122933 0.65994107 0.85144498]
  [0.73493251 0.73165267 0.20150525]]

 [[0.19254252 0.83382704 0.85523035]
  [0.60640002 0.16986391 0.79814912]
  [0.82034982 0.41209639 0.80462203]]

 [[0.26628245 0.93487793 0.11860226]
  [0.59849235 0.48027504 0.24603479]
  [0.6926694  0.70583951 0.86529786]]]

4. Write a NumPy program to create a random 10x4 array and extract the</br>first five rows of the array and store them into a variable.

In [28]:
arr=rng.random((10,4))
new_arr=arr[:5,:]
print(new_arr)

[[0.95206486 0.06849093 0.73204534 0.56863149]
 [0.46569814 0.31268575 0.31074901 0.57365707]
 [0.5741709  0.62174794 0.70966712 0.54368885]
 [0.20137256 0.55898409 0.37915009 0.54185029]
 [0.73076807 0.11365419 0.44402022 0.24522748]]

5. Write a NumPy program to shuffle numbers between 0 and 10 (inclusive).

In [37]:
arr=rng.integers(0,10,size=10,endpoint=True)
rng.shuffle(arr) # shuffle is inplace
print(arr)

[1 9 6 2 1 1 6 4 2 6]

6. Write a NumPy program to normalize a 3x3 random matrix.

In [41]:
arr=rng.random((3,3))
print(f'Before normalization: {arr}')
print()
arrmax,arrmin=arr.max(),arr.min()
arr=(arr-arrmin)/(arrmax-arrmin)
print(arr)

Before normalization: [[0.4268631  0.22527101 0.0995954 ]
 [0.9066098  0.3604079  0.58091623]
 [0.67134398 0.1540086  0.48494675]]

[[0.40552894 0.15572908 0.        ]
 [1.         0.32318197 0.59642162]
 [0.70847383 0.06742532 0.47750245]]

7. Write a NumPy program to create random vector of size 15 and replace</br> the maximum value by -1.

In [44]:
arr=rng.random(15)
max_ind=np.argmax(arr)
arr[max_ind]=-1
print(arr)

[ 0.39117998  0.4990158   0.23105006  0.36217673  0.445213    0.10496276
  0.6415687   0.70475469 -1.          0.75950098  0.86074073  0.455612
  0.48505858  0.68909359  0.37910301]

8. Write a NumPy program to find the most frequent value in an array.

In [60]:
arr=rng.integers(0,8,size=20)
print(arr)
unique_vals=np.unique(arr,return_counts=True)
print(unique_vals)
high_freq=unique_vals[1]
print(unique_vals[0][np.argmax(high_freq)])

[6 2 2 2 2 4 1 4 5 3 4 5 4 1 6 6 3 6 0 5]
(array([0, 1, 2, 3, 4, 5, 6]), array([1, 2, 4, 2, 4, 3, 4]))
2

9. Write a NumPy program to find the closest value (to a given scalar) in an array.

In [61]:
arr=np.arange(100)
print(f'Original array:{arr}')
val=rng.uniform(0,100) #generating a random floating point number between 0 and 100
index=(np.abs(x-val)).argmin()
print(arr[index])

Original array:[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]
2

# Datetime related

1. Write a NumPy program to display all the dates for the month of March, 2017.

In [62]:
print(np.arange('2017-03','2017-04',dtype='datetime64[D]'))

['2017-03-01' '2017-03-02' '2017-03-03' '2017-03-04' '2017-03-05'
 '2017-03-06' '2017-03-07' '2017-03-08' '2017-03-09' '2017-03-10'
 '2017-03-11' '2017-03-12' '2017-03-13' '2017-03-14' '2017-03-15'
 '2017-03-16' '2017-03-17' '2017-03-18' '2017-03-19' '2017-03-20'
 '2017-03-21' '2017-03-22' '2017-03-23' '2017-03-24' '2017-03-25'
 '2017-03-26' '2017-03-27' '2017-03-28' '2017-03-29' '2017-03-30'
 '2017-03-31']

2. Write a NumPy program to get the dates of yesterday, today and tomorrow.

In [65]:
yesterday=np.datetime64('today','D')-np.timedelta64(1,'D')
today=np.datetime64('today','D')
tomorrow=np.datetime64('today','D')+np.timedelta64(1,'D')
print(f'Yesterday: {yesterday}')
print(f'Today: {today}')
print(f'Tomorrow: {tomorrow}')

Yesterday: 2023-12-05
Today: 2023-12-06
Tomorrow: 2023-12-07

3. Write a NumPy program to count the number of days of specific month.

In [70]:
print(f"Number of days in feb, 2016 :{np.datetime64('2016-03-01')-np.datetime64('2016-02-01')}")

Number of days in feb, 2016 :29 days

4. Write a NumPy program to create 24 python datetime.datetime object </br>(single object for every hour), and then put it in a numpy array.

In [74]:
import datetime
start=datetime.datetime(2000,1,1)
arr=[start+datetime.timedelta(hours=i) for i in range(24)]
print(arr)

[datetime.datetime(2000, 1, 1, 0, 0), datetime.datetime(2000, 1, 1, 1, 0), datetime.datetime(2000, 1, 1, 2, 0), datetime.datetime(2000, 1, 1, 3, 0), datetime.datetime(2000, 1, 1, 4, 0), datetime.datetime(2000, 1, 1, 5, 0), datetime.datetime(2000, 1, 1, 6, 0), datetime.datetime(2000, 1, 1, 7, 0), datetime.datetime(2000, 1, 1, 8, 0), datetime.datetime(2000, 1, 1, 9, 0), datetime.datetime(2000, 1, 1, 10, 0), datetime.datetime(2000, 1, 1, 11, 0), datetime.datetime(2000, 1, 1, 12, 0), datetime.datetime(2000, 1, 1, 13, 0), datetime.datetime(2000, 1, 1, 14, 0), datetime.datetime(2000, 1, 1, 15, 0), datetime.datetime(2000, 1, 1, 16, 0), datetime.datetime(2000, 1, 1, 17, 0), datetime.datetime(2000, 1, 1, 18, 0), datetime.datetime(2000, 1, 1, 19, 0), datetime.datetime(2000, 1, 1, 20, 0), datetime.datetime(2000, 1, 1, 21, 0), datetime.datetime(2000, 1, 1, 22, 0), datetime.datetime(2000, 1, 1, 23, 0)]

# Anonymus problems

1. Filter the product array to only include those with prices greater than 25</br></br> Modify your logic to include cola,despite it not having a price greater than 25.</br></br>Store the elements returned  in an array called fancy_feast_special.</br></br>Next, create a shipping cost array where the cost is 0 if the price is greater than 20, and 5 if not

In [75]:
products=np.array(
    ['salad','bread','mustard','rare tomato','cola','ice cream']
)

prices=np.array([5.99,6.99,22.49,99.99,4.99,49.99])

# 1st part
print(products[prices>25])

['rare tomato' 'ice cream']

In [77]:
# 2nd part
arr=(prices > 25) | (products=='cola')
fancy_feast_special = products[arr]
print(fancy_feast_special)

['rare tomato' 'cola' 'ice cream']

In [78]:
#3rd part
shipping_cost=np.where(prices>20,0,5)
print(shipping_cost)

[5 5 0 0 5 0]

2. Grab top 3 highest prices</br></br>
Calculate mean, min , max, median of those top 3 prices</br></br>
Finally , calculate the unique prices in price_tiers

In [79]:
prices=np.array([5.99,6.99,22.49,99.99,4.99,49.99])
prices.sort()
print(f'Top 3: {prices[-3:]}')

Top 3: [22.49 49.99 99.99]

In [84]:
#2nd part
top3=prices[-3:]
print(top3.mean())
print(top3.min())
print(top3.max())
print(np.percentile(top3,50))

57.49
22.49
99.99
49.99

In [85]:
#3rd part
price_tiers=np.array(['budget','budget','mid-tier','luxury','mid-tier','luxury'])
print(np.unique(price_tiers))

['budget' 'luxury' 'mid-tier']