In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.__version__

'1.5.3'

In [ ]:
# new data
# english premeir league

In [ ]:
data_url="https://andybek.com/pandas-soccer"

In [ ]:
players=pd.read_csv(data_url)

In [ ]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          465 non-null    object
 1   club          465 non-null    object
 2   age           465 non-null    int64
 3   position      464 non-null    object
 4   position_cat  465 non-null    int64
 5   market_value  462 non-null    float64
 6   page_views    465 non-null    int64
 7   fpl_value     465 non-null    float64
 8   fpl_sel       465 non-null    object
 9   fpl_points    465 non-null    int64
 10  region        465 non-null    int64
 11  nationality   465 non-null    object
 12  new_foreign   465 non-null    int64
 13  age_cat       465 non-null    int64
 14  club_id       465 non-null    int64
 15  big_club      465 non-null    int64
 16  new_signing   465 non-null    int64
dtypes: float64(2), int64(10), object(5)
memory usage: 61.9+ KB

In [ ]:
players.dtypes.value_counts()

int64      10
object      5
float64     2
dtype: int64

In [ ]:
players.info(verbose=False,memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Columns: 17 entries, name to new_signing
dtypes: float64(2), int64(10), object(5)
memory usage: 190.7 KB

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

**Indexing with boolean masks**

In [ ]:
# boolean indexing
# step 1: generate sequence of booleans
# step 2: use boolean sequence in [] or .loc[]

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [ ]:
# let's see which players have market value exceeding 40 million

In [ ]:
players[[True if i>40 else False for i in players.market_value]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
96,Eden Hazard,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
244,Kevin De Bruyne,Manchester+City,26,AM,1,65.0,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
245,Sergio Aguero,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
267,Paul Pogba,Manchester+United,24,CM,2,75.0,7435,8.0,19.50%,115,2,France,0,2,12,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

In [ ]:
players[players.market_value >40]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
96,Eden Hazard,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
244,Kevin De Bruyne,Manchester+City,26,AM,1,65.0,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
245,Sergio Aguero,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
267,Paul Pogba,Manchester+United,24,CM,2,75.0,7435,8.0,19.50%,115,2,France,0,2,12,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

**More approaches to boolean masking**

In [ ]:
# to get defenders

In [ ]:
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [ ]:

players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [ ]:
# defender code: LB, CB, RB

In [ ]:
players.position.isin(['LB','CB','RB'])

0      False
1      False
2      False
3      False
4       True
       ...
460    False
461     True
462     True
463    False
464    False
Name: position, Length: 465, dtype: bool

In [ ]:
players.loc[players.position.isin(['LB','CB','RB'])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.0,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
17,Gabriel Paulista,Arsenal,26,CB,3,13.0,552,5.0,0.10%,45,3,Brazil,0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
458,Angelo Ogbonna,West+Ham,29,CB,3,9.0,247,4.5,1.10%,45,2,Italy,0,4,20,0,0
459,Pablo Zabaleta,West+Ham,32,RB,3,7.0,698,5.0,2.70%,45,3,Argentina,0,5,20,0,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0

In [ ]:
players[players.market_value.between(40,50,inclusive=False)]

<ipython-input-14-2ae5b95b25fa>:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  players[players.market_value.between(40,50,inclusive=False)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0

In [ ]:
players[players.market_value.between(40,50,inclusive=True)]

<ipython-input-15-5c12d698966c>:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  players[players.market_value.between(40,50,inclusive=True)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
31,Alexandre Lacazette,Arsenal,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
219,Sadio Mane,Liverpool,25,LW,1,40.0,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
263,Bernardo Silva,Manchester+City,22,RW,1,40.0,1098,8.0,4.60%,0,2,Portugal,1,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
265,David de Gea,Manchester+United,26,GK,4,40.0,2126,5.5,26.10%,136,2,Spain,0,3,12,1,0
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
382,Christian Eriksen,Tottenham,25,AM,1,40.0,1130,9.5,12.00%,218,2,Denmark,0,3,17,1,0

In [ ]:
players.age<=25

0      False
1      False
2      False
3      False
4      False
       ...
460     True
461     True
462     True
463     True
464    False
Name: age, Length: 465, dtype: bool

In [ ]:
players.loc[players.age<=25]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [ ]:
# another way
players.loc[players.age.le(25)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [ ]:
players.age.le(25).equals(players.age <= 25)

True

In [ ]:
# < -> .lt() , <= -> .le() , > -> .gt() , >= -> .ge() , == -> eq() . all support fill_value which is for na case

**Binary operators with booleans**

In [ ]:
# binary or -> |

In [ ]:
True | False

True

In [ ]:
False | False

False

In [ ]:
False | True

True

In [ ]:
True | True

True

In [ ]:
# binary and -> &

In [ ]:
True & False

False

In [ ]:
False & False

False

In [ ]:
False & True

False

In [ ]:
True & True

True

In [ ]:
f= pd.Series(False)

In [ ]:
f

0    False
dtype: bool

In [ ]:
t=pd.Series(True)

In [ ]:
t

0    True
dtype: bool

In [ ]:
t & f

0    False
dtype: bool

In [ ]:
t | f

0    True
dtype: bool

In [ ]:
t=pd.Series([True if i%2==0 else False for i in range(10)])

In [ ]:
t

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [ ]:
f=pd.Series([False for i in range(10)])

In [ ]:
t & f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
t | f

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [ ]:
f=pd.Series(data=[False,True,True],index=['c','b','a'])
t=pd.Series(data=[True,False,True],index=['a','b','c'])

In [ ]:
f

c    False
b     True
a     True
dtype: bool

In [ ]:
t

a     True
b    False
c     True
dtype: bool

In [ ]:
f & t

a     True
b    False
c    False
dtype: bool

In [ ]:
# here we expected all are to be False but 1st one is True. cz here labels are also associated, aTrue and aTrue -> True, b True and b False -> False

**XOR and complement binary ops**

In [ ]:
# binary xor -> ^

In [ ]:
True ^ False

True

In [ ]:
True ^ True

False

In [ ]:
False ^ False

False

In [ ]:
False ^ True

True

In [ ]:
True ^ (False | False & True) | False

True

In [ ]:
# 2's complement -> ~ tilde operator
~False

-1

In [ ]:
~True

-2

In [ ]:
t = pd.Series([True,True,False])

In [ ]:
~t

0    False
1    False
2     True
dtype: bool

In [ ]:
# so this is useful for negate operations. like if we say select all those players who are not defenders

**Combining conditions**

In [ ]:
# select all the left backs -> lB
players.position == 'LB'

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461     True
462    False
463    False
464    False
Name: position, Length: 465, dtype: bool

In [ ]:
players[players.position=='LB']

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
7,Nacho Monreal,Arsenal,31,LB,3,13.00,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
18,Kieran Gibbs,Arsenal,27,LB,3,10.00,489,5.0,0.50%,45,1,England,0,3,1,1,0
29,Sead Kolasinac,Arsenal,24,LB,3,15.00,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
34,Charlie Daniels,Bournemouth,30,LB,3,3.00,185,5.0,19.80%,134,1,England,0,4,2,0,0
54,Brad Smith,Bournemouth,23,LB,3,2.00,297,4.0,3.30%,4,4,Australia,0,2,2,0,0
62,Gaetan Bong,Brighton+and+Hove,29,LB,3,1.50,97,4.5,0.20%,0,4,Cameroon,0,4,3,0,0
65,Markus Suttner,Brighton+and+Hove,30,LB,3,2.00,23,4.5,0.20%,0,2,Austria,0,4,3,0,0
82,Stephen Ward,Burnley,31,LB,3,1.50,152,4.5,2.50%,91,2,Ireland,0,4,4,0,0
99,Marcos Alonso Mendoza,Chelsea,26,LB,3,25.00,3069,7.0,12.40%,177,2,Spain,0,3,5,1,1
112,Kenedy,Chelsea,21,LB,3,7.00,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
119,Patrick van Aanholt,Crystal+Palace,26,LB,3,9.00,524,5.5,4.20%,98,2,Netherlands,0,3,6,0,0
128,Jeffrey Schlupp,Crystal+Palace,24,LB,3,8.00,385,5.0,0.30%,47,4,Ghana,0,2,6,0,0
134,Pape Souare,Crystal+Palace,27,LB,3,6.00,186,4.5,0.00%,6,4,Senegal,0,3,6,0,0
138,Leighton Baines,Everton,32,LB,3,12.00,491,6.0,10.00%,135,1,England,0,5,7,0,0
168,Chris Lowe,Huddersfield,28,LB,3,1.50,84,4.5,0.70%,0,2,Germany,0,4,8,0,0
175,Scott Malone,Huddersfield,26,LB,3,0.75,81,4.5,0.10%,0,1,England,0,3,8,0,0
196,Christian Fuchs,Leicester+City,31,LB,3,6.00,417,5.0,3.50%,104,2,Austria,0,4,9,0,0
212,Ben Chilwell,Leicester+City,20,LB,3,2.50,288,4.5,0.80%,19,1,England,0,1,9,0,0
236,Alberto Moreno,Liverpool,25,LB,3,10.00,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
251,Aleksandar Kolarov,Manchester+City,31,LB,3,10.00,633,5.5,1.10%,95,2,Serbia,0,4,11,1,0
270,Daley Blind,Manchester+United,27,LB,3,22.00,867,5.5,1.20%,98,2,Netherlands,0,3,12,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.00,947,5.0,0.40%,45,1,England,0,2,12,1,0
294,Paul Dummett,Newcastle+United,25,LB,3,3.50,177,4.5,1.00%,0,2,Wales,0,3,13,0,0
298,Massadio Haidara,Newcastle+United,24,LB,3,1.50,114,4.0,0.50%,0,2,France,0,2,13,0,0
312,Ryan Bertrand,Southampton,27,LB,3,20.00,578,5.5,11.20%,123,1,England,0,3,14,0,0
328,Matt Targett,Southampton,21,LB,3,3.00,110,4.5,0.20%,12,1,England,0,1,14,0,0
336,Erik Pieters,Stoke+City,28,LB,3,7.00,134,5.0,1.30%,103,2,Netherlands,0,4,15,0,0
354,Josh Tymon,Stoke+City,18,LB,3,1.00,120,4.5,0.10%,9,1,England,0,1,15,0,0
363,Martin Olsson,Swansea,29,LB,3,5.00,458,5.0,0.30%,52,2,Sweden,0,4,16,0,0
369,Stephen Kingsley,Swansea,22,LB,3,0.75,168,4.5,0.20%,29,2,Scotland,0,2,16,0,0
389,Ben Davies,Tottenham,24,LB,3,12.00,396,5.5,1.80%,90,2,Wales,0,2,17,1,0
390,Danny Rose,Tottenham,27,LB,3,28.00,848,6.5,0.60%,84,1,England,0,3,17,1,0
403,Jose Holebas,Watford,33,LB,3,2.00,345,5.0,0.60%,87,2,Greece,0,5,18,0,0
455,Aaron Cresswell,West+Ham,27,LB,3,12.00,380,5.0,1.30%,60,1,England,0,3,20,0,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.00,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1

In [ ]:
players[(players.position=='LB') & ( players.age<=25)] # all left back who are 25 or younger

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.00,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
54,Brad Smith,Bournemouth,23,LB,3,2.00,297,4.0,3.30%,4,4,Australia,0,2,2,0,0
112,Kenedy,Chelsea,21,LB,3,7.00,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
128,Jeffrey Schlupp,Crystal+Palace,24,LB,3,8.00,385,5.0,0.30%,47,4,Ghana,0,2,6,0,0
212,Ben Chilwell,Leicester+City,20,LB,3,2.50,288,4.5,0.80%,19,1,England,0,1,9,0,0
236,Alberto Moreno,Liverpool,25,LB,3,10.00,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.00,947,5.0,0.40%,45,1,England,0,2,12,1,0
294,Paul Dummett,Newcastle+United,25,LB,3,3.50,177,4.5,1.00%,0,2,Wales,0,3,13,0,0
298,Massadio Haidara,Newcastle+United,24,LB,3,1.50,114,4.0,0.50%,0,2,France,0,2,13,0,0
328,Matt Targett,Southampton,21,LB,3,3.00,110,4.5,0.20%,12,1,England,0,1,14,0,0
354,Josh Tymon,Stoke+City,18,LB,3,1.00,120,4.5,0.10%,9,1,England,0,1,15,0,0
369,Stephen Kingsley,Swansea,22,LB,3,0.75,168,4.5,0.20%,29,2,Scotland,0,2,16,0,0
389,Ben Davies,Tottenham,24,LB,3,12.00,396,5.5,1.80%,90,2,Wales,0,2,17,1,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.00,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1

In [ ]:
players[
    (players.position=='LB') &
     ( players.age<=25) &
    (players.market_value >=10)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.0,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
236,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.0,947,5.0,0.40%,45,1,England,0,2,12,1,0
389,Ben Davies,Tottenham,24,LB,3,12.0,396,5.5,1.80%,90,2,Wales,0,2,17,1,0

In [ ]:
# 4 condition: left back, age <=25 , market value >=10, and not from arsenal or totenhum clubs

In [ ]:
players[
    (players.position=='LB') &
     ( players.age<=25) &
    (players.market_value >=10) &
    ~(players.club.isin(['Arsenal','Tottenham']))
    ]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
236,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.0,947,5.0,0.40%,45,1,England,0,2,12,1,0

**Conditions as variables**

In [ ]:
# now target: arsenal right backs or chelsea goalkeeprs

In [ ]:
arsenal_player = players.club == "Arsenal"

In [ ]:
right_back = players.position == "RB"

In [ ]:
chelsea_and_gk = (players.club=='Chelsea') & (players.position =='GK')

In [ ]:
players.loc[arsenal_player & right_back | chelsea_and_gk]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
27,Carl Jenkinson,Arsenal,25,RB,3,5.0,561,4.5,0.40%,2,1,England,0,3,1,1,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
109,Willy Caballero,Chelsea,35,GK,4,1.5,542,5.0,0.20%,64,3,Argentina,0,6,5,1,0

**SKILL CHALLENGE**

*Find the players in our dataset that meet these conditions.*


1.   They are english nationality and
2.   their market value is more than twice than the average market value and
3.   they either have more than 30000 views (page_view)  or are a new signing (new_signing) but not both

In [ ]:
eng_nat= players.nationality=="England"

In [ ]:
players.market_value.sum()

5140.049999999999

In [ ]:
players.market_value.value_counts().sum()

462

In [ ]:
avg=  players.market_value.mean()

In [ ]:
avg

11.125649350649349

In [ ]:
mark_val = (players.market_value > 2*avg)

In [ ]:
views = (players.page_views > 4000) ^ (players.new_signing==1)

In [ ]:
players[eng_nat & mark_val & views]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
256,John Stones,Manchester+City,23,CB,3,35.0,1078,5.5,2.30%,59,1,England,0,2,11,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

In [ ]:
players.loc[mark_val]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Toby Alderweireld,Tottenham,28,CB,3,35.0,756,6.0,13.30%,120,2,Belgium,0,4,17,1,0
387,Victor Wanyama,Tottenham,26,DM,2,25.0,1002,5.0,3.10%,103,4,Kenya,0,3,17,1,1
388,Eric Dier,Tottenham,23,DM,2,25.0,1239,5.0,3.50%,93,1,England,0,2,17,1,0
390,Danny Rose,Tottenham,27,LB,3,28.0,848,6.5,0.60%,84,1,England,0,3,17,1,0
396,Erik Lamela,Tottenham,25,RW,1,25.0,672,6.5,0.10%,28,3,Argentina,0,3,17,1,0

In [ ]:
players.loc[eng_nat]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
14,Jack Wilshere,Arsenal,25,CM,2,18.0,1759,5.5,0.00%,61,1,England,0,3,1,1,0
18,Kieran Gibbs,Arsenal,27,LB,3,10.0,489,5.0,0.50%,45,1,England,0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,Mark Noble,West+Ham,30,CM,2,7.0,425,5.5,0.10%,71,1,England,0,4,20,0,0
453,Andy Carroll,West+Ham,28,CF,1,10.0,1212,6.0,0.40%,69,1,England,0,4,20,0,0
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [ ]:
players.nationality.unique()

array(['Chile', 'Germany', 'Czech Republic', 'England', 'France', 'Spain',
       'Nigeria', 'Switzerland', 'Wales', 'Brazil', 'Egypt', 'Argentina',
       'Colombia', 'Bosnia', 'Norway', 'Poland', 'Scotland', 'Congo DR',
       'Ireland', 'Netherlands', 'Australia', "Cote d'Ivoire", 'Finland',
       'Cameroon', 'Austria', 'Israel', 'Northern Ireland', 'Canada',
       'Belgium', 'Iceland', 'Serbia', 'Portugal', 'Ghana', 'South Korea',
       'Mali', 'Senegal', 'Curacao', 'Denmark', 'Slovenia',
       'Trinidad and Tobago', 'Bermuda', 'Benin', 'Algeria', 'Jamaica',
       'Japan', 'Tunisia', 'Croatia', 'Estonia', 'Ecuador', 'Armenia',
       'Italy', 'Sweden', 'United States', 'Morocco', 'The Gambia',
       'Kenya', 'Greece', 'Uruguay', 'Romania', 'Venezuela',
       'New Zealand'], dtype=object)

**2d indexing**

In [ ]:
# chelsea players and 23 years old or younger

In [ ]:
chelsea_23under=(players.club == 'Chelsea') & (players.age.le(23))

In [ ]:
chelsea_23under.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
players[chelsea_23under]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
110,Michy Batshuayi,Chelsea,23,CF,1,25.0,1162,8.5,1.60%,48,2,Belgium,0,2,5,1,1
111,Kurt Zouma,Chelsea,22,CB,3,15.0,723,5.5,0.80%,15,2,France,0,2,5,1,0
112,Kenedy,Chelsea,21,LB,3,7.0,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
115,Tiemoue Bakayoko,Chelsea,22,DM,2,16.0,1011,5.0,1.60%,0,2,France,1,2,5,1,0

In [ ]:
players.loc[chelsea_23under,['position','market_value']]

    position  market_value
110       CF          25.0
111       CB          15.0
112       LB           7.0
115       DM          16.0

In [ ]:
#...select all columns that begin with 'p'

In [ ]:
p_cols=players.columns.str.startswith('p')

In [ ]:
players.loc[chelsea_23under,p_cols]

    position  position_cat  page_views
110       CF             1        1162
111       CB             3         723
112       LB             3         566
115       DM             2        1011

In [ ]:
players.shape

(465, 17)

In [ ]:
chelsea_23under.shape

(465,)

In [ ]:
p_cols.shape

(17,)

In [ ]:
# here length must be same

In [ ]:
# chaining

In [ ]:
players[chelsea_23under]['position'] # slower

110    CF
111    CB
112    LB
115    DM
Name: position, dtype: object

In [ ]:
players.loc[chelsea_23under,'position'] # faster

110    CF
111    CB
112    LB
115    DM
Name: position, dtype: object

**Fancy indexing with lookup**

In [ ]:
players.loc[[0,132],('name','market_value')]

               name  market_value
0    Alexis Sanchez          65.0
132  Connor Wickham           6.0

In [ ]:
players.lookup([0,132],['name','market_value'])

<ipython-input-50-bb3a366c1f88>:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  players.lookup([0,132],['name','market_value'])

array(['Alexis Sanchez', 6.0], dtype=object)

In [ ]:
# 0 and name map-> 'alexis sanchex ' , 132 and market_value map-> 6.0

In [ ]:
players.lookup([0,132],['market_value','name'])

<ipython-input-51-40b937578c6e>:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  players.lookup([0,132],['market_value','name'])

array([65.0, 'Connor Wickham'], dtype=object)

In [ ]:
names=['Petr Cech','Mesut Ozil','Alexis Sanchez']
attributes=['age','market_value','page_views']

In [ ]:
players.lookup(names,attributes)

<ipython-input-53-ffe7ce218883>:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  players.lookup(names,attributes)

KeyError: ignored

In [ ]:
# cz name is not index , so first we need to make this index

In [ ]:
players.set_index('name',inplace=True)

In [ ]:
players.lookup(names,attributes)

<ipython-input-55-ffe7ce218883>:1: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  players.lookup(names,attributes)

ValueError: ignored

In [ ]:
players

,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
name,,,,,,,,,,,,,,,,
Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

**Sorting by index or column**

In [ ]:
players=pd.read_csv(data_url)

In [ ]:
players.set_index('name',inplace=True)

In [ ]:
players.sort_index().head(10)

,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
name,,,,,,,,,,,,,,,,
Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0
Adam Federici,Bournemouth,32,GK,4,1.0,126,4.0,1.50%,8,4,Australia,0,5,2,0,0
Adam Lallana,Liverpool,29,AM,1,25.0,1808,7.5,6.40%,139,1,England,0,4,10,1,0
Adam Smith,Bournemouth,26,RB,3,5.0,200,5.0,0.90%,104,1,England,0,3,2,0,0
Ademola Lookman,Everton,19,LW,1,5.0,1387,5.5,0.30%,16,1,England,0,1,7,0,0
Adrian,West+Ham,30,GK,4,8.0,266,4.5,0.80%,64,2,Spain,0,4,20,0,0

In [ ]:
players.sort_index(inplace=True)

In [ ]:
players.sort_index(axis=1) #sorting column

,age,age_cat,big_club,club,club_id,fpl_points,fpl_sel,fpl_value,market_value,nationality,new_foreign,new_signing,page_views,position,position_cat,region
name,,,,,,,,,,,,,,,,
Aaron Cresswell,27,3,0,West+Ham,20,60,1.30%,5.0,12.0,England,0,0,380,LB,3,1
Aaron Lennon,30,4,0,Everton,7,22,0.20%,5.5,5.0,England,0,0,504,RW,1,1
Aaron Mooy,26,3,0,Huddersfield,8,0,2.50%,5.5,5.0,Australia,0,0,588,CM,2,4
Aaron Ramsey,26,3,1,Arsenal,1,56,5.10%,7.0,35.0,Wales,0,0,1040,CM,2,1
Abdoulaye Doucoure,24,2,0,Watford,18,38,0.00%,5.0,6.0,France,0,0,124,CM,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yohan Cabaye,31,4,0,Crystal+Palace,6,91,1.40%,5.5,15.0,France,0,0,456,CM,2,2
Youns Kaboul,31,4,0,Watford,18,57,0.10%,4.5,2.5,France,0,1,263,CB,3,2
tienne Capoue,29,4,0,Watford,18,131,8.00%,5.5,9.0,France,0,0,412,DM,2,2
ngel Rangel,34,6,0,Swansea,16,26,18.80%,4.0,1.0,Spain,0,0,137,RB,3,2
ukasz Fabiaski,32,5,0,Swansea,16,116,6.20%,4.5,9.0,Poland,0,0,285,GK,4,2

In [ ]:
players.reset_index()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
1,Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
2,Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
3,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
4,Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Yohan Cabaye,Crystal+Palace,31,CM,2,15.0,456,5.5,1.40%,91,2,France,0,4,6,0,0
461,Youns Kaboul,Watford,31,CB,3,2.5,263,4.5,0.10%,57,2,France,0,4,18,0,1
462,tienne Capoue,Watford,29,DM,2,9.0,412,5.5,8.00%,131,2,France,0,4,18,0,0
463,ngel Rangel,Swansea,34,RB,3,1.0,137,4.0,18.80%,26,2,Spain,0,6,16,0,0
464,ukasz Fabiaski,Swansea,32,GK,4,9.0,285,4.5,6.20%,116,2,Poland,0,5,16,0,0

In [ ]:
players.reset_index().reset_index()

,index,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,0,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
1,1,Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
2,2,Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
3,3,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
4,4,Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,460,Yohan Cabaye,Crystal+Palace,31,CM,2,15.0,456,5.5,1.40%,91,2,France,0,4,6,0,0
461,461,Youns Kaboul,Watford,31,CB,3,2.5,263,4.5,0.10%,57,2,France,0,4,18,0,1
462,462,tienne Capoue,Watford,29,DM,2,9.0,412,5.5,8.00%,131,2,France,0,4,18,0,0
463,463,ngel Rangel,Swansea,34,RB,3,1.0,137,4.0,18.80%,26,2,Spain,0,6,16,0,0
464,464,ukasz Fabiaski,Swansea,32,GK,4,9.0,285,4.5,6.20%,116,2,Poland,0,5,16,0,0

In [ ]:
players.head()

,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
name,,,,,,,,,,,,,,,,
Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0

In [ ]:
players.reset_index(inplace=True)

In [ ]:
players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
1,Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
2,Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
3,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
4,Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Yohan Cabaye,Crystal+Palace,31,CM,2,15.0,456,5.5,1.40%,91,2,France,0,4,6,0,0
461,Youns Kaboul,Watford,31,CB,3,2.5,263,4.5,0.10%,57,2,France,0,4,18,0,1
462,tienne Capoue,Watford,29,DM,2,9.0,412,5.5,8.00%,131,2,France,0,4,18,0,0
463,ngel Rangel,Swansea,34,RB,3,1.0,137,4.0,18.80%,26,2,Spain,0,6,16,0,0
464,ukasz Fabiaski,Swansea,32,GK,4,9.0,285,4.5,6.20%,116,2,Poland,0,5,16,0,0

**Sorting vs reordering**

In [ ]:
#reindex()

In [ ]:
players_lite=players.iloc[:4,:4]

In [ ]:
players_lite

              name          club  age position
0  Aaron Cresswell      West+Ham   27       LB
1     Aaron Lennon       Everton   30       RW
2       Aaron Mooy  Huddersfield   26       CM
3     Aaron Ramsey       Arsenal   26       CM

In [ ]:
# row order: 2,1,3,0
# column order: age, name,position, club

In [ ]:
players_lite.reindex(index=[2,1,3,0],columns=['age','name','position','club'])

   age             name position          club
2   26       Aaron Mooy       CM  Huddersfield
1   30     Aaron Lennon       RW       Everton
3   26     Aaron Ramsey       CM       Arsenal
0   27  Aaron Cresswell       LB      West+Ham

In [ ]:
players.reindex(index=[2,1,3,0],columns=['age','name','position','club'])

   age             name position          club
2   26       Aaron Mooy       CM  Huddersfield
1   30     Aaron Lennon       RW       Everton
3   26     Aaron Ramsey       CM       Arsenal
0   27  Aaron Cresswell       LB      West+Ham

In [ ]:
players.reindex(index=[2,1,3,0])

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
2,Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
1,Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
3,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
0,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0

In [ ]:
#...get all the columns and have them alphabetically ordered

In [ ]:
players.reindex(index=[2,1,3,0]).sort_index(axis=1)

,age,age_cat,big_club,club,club_id,fpl_points,fpl_sel,fpl_value,market_value,name,nationality,new_foreign,new_signing,page_views,position,position_cat,region
2,26,3,0,Huddersfield,8,0,2.50%,5.5,5.0,Aaron Mooy,Australia,0,0,588,CM,2,4
1,30,4,0,Everton,7,22,0.20%,5.5,5.0,Aaron Lennon,England,0,0,504,RW,1,1
3,26,3,1,Arsenal,1,56,5.10%,7.0,35.0,Aaron Ramsey,Wales,0,0,1040,CM,2,1
0,27,3,0,West+Ham,20,60,1.30%,5.0,12.0,Aaron Cresswell,England,0,0,380,LB,3,1

In [ ]:
sorted(players.columns)

['age',
 'age_cat',
 'big_club',
 'club',
 'club_id',
 'fpl_points',
 'fpl_sel',
 'fpl_value',
 'market_value',
 'name',
 'nationality',
 'new_foreign',
 'new_signing',
 'page_views',
 'position',
 'position_cat',
 'region']

In [ ]:
players.reindex(index=[2,1,3,0],columns=sorted(players.columns))

,age,age_cat,big_club,club,club_id,fpl_points,fpl_sel,fpl_value,market_value,name,nationality,new_foreign,new_signing,page_views,position,position_cat,region
2,26,3,0,Huddersfield,8,0,2.50%,5.5,5.0,Aaron Mooy,Australia,0,0,588,CM,2,4
1,30,4,0,Everton,7,22,0.20%,5.5,5.0,Aaron Lennon,England,0,0,504,RW,1,1
3,26,3,1,Arsenal,1,56,5.10%,7.0,35.0,Aaron Ramsey,Wales,0,0,1040,CM,2,1
0,27,3,0,West+Ham,20,60,1.30%,5.0,12.0,Aaron Cresswell,England,0,0,380,LB,3,1

In [ ]:
players.reindex(index=[2,1,3,0],columns=sorted(players.columns)[:6])

   age  age_cat  big_club          club  club_id  fpl_points
2   26        3         0  Huddersfield        8           0
1   30        4         0       Everton        7          22
3   26        3         1       Arsenal        1          56
0   27        3         0      West+Ham       20          60

In [ ]:
# reindex is useful for hierarchical indexes

**Another way**

In [ ]:
players.columns.sort_values()

Index(['age', 'age_cat', 'big_club', 'club', 'club_id', 'fpl_points',
       'fpl_sel', 'fpl_value', 'market_value', 'name', 'nationality',
       'new_foreign', 'new_signing', 'page_views', 'position', 'position_cat',
       'region'],
      dtype='object')

In [ ]:
players.reindex(index=[2,1,3,0],columns=players.columns.sort_values()) # cz column takes any array like

,age,age_cat,big_club,club,club_id,fpl_points,fpl_sel,fpl_value,market_value,name,nationality,new_foreign,new_signing,page_views,position,position_cat,region
2,26,3,0,Huddersfield,8,0,2.50%,5.5,5.0,Aaron Mooy,Australia,0,0,588,CM,2,4
1,30,4,0,Everton,7,22,0.20%,5.5,5.0,Aaron Lennon,England,0,0,504,RW,1,1
3,26,3,1,Arsenal,1,56,5.10%,7.0,35.0,Aaron Ramsey,Wales,0,0,1040,CM,2,1
0,27,3,0,West+Ham,20,60,1.30%,5.0,12.0,Aaron Cresswell,England,0,0,380,LB,3,1

**Avoid sorting like this**

In [ ]:
#anti_pattern

In [ ]:
df=players.iloc[:6,:6]

In [ ]:
df.swapaxes(1,0)

,0,1,2,3,4,5
name,Aaron Cresswell,Aaron Lennon,Aaron Mooy,Aaron Ramsey,Abdoulaye Doucoure,Adam Federici
club,West+Ham,Everton,Huddersfield,Arsenal,Watford,Bournemouth
age,27,30,26,26,24,32
position,LB,RW,CM,CM,CM,GK
position_cat,3,1,2,2,2,4
market_value,12.0,5.0,5.0,35.0,6.0,1.0

In [ ]:
df.T

,0,1,2,3,4,5
name,Aaron Cresswell,Aaron Lennon,Aaron Mooy,Aaron Ramsey,Abdoulaye Doucoure,Adam Federici
club,West+Ham,Everton,Huddersfield,Arsenal,Watford,Bournemouth
age,27,30,26,26,24,32
position,LB,RW,CM,CM,CM,GK
position_cat,3,1,2,2,2,4
market_value,12.0,5.0,5.0,35.0,6.0,1.0

In [ ]:
df.T.sort_index().T

  age          club market_value                name position position_cat
0  27      West+Ham         12.0     Aaron Cresswell       LB            3
1  30       Everton          5.0        Aaron Lennon       RW            1
2  26  Huddersfield          5.0          Aaron Mooy       CM            2
3  26       Arsenal         35.0        Aaron Ramsey       CM            2
4  24       Watford          6.0  Abdoulaye Doucoure       CM            2
5  32   Bournemouth          1.0       Adam Federici       GK            4

In [ ]:
# but this is ridiculous

In [ ]:
# best way

In [ ]:
df.sort_index(axis=1)

NameError: ignored

**Skill challenge**

*1. sort the playres by age in ascending order . Who is the youngest player in the EPL*

In [ ]:
players.sort_values(by='age',ascending=True)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
53,Ben Woodburn,Liverpool,17,LW,1,1.50,1241,4.5,0.10%,5,1,Wales,0,1,10,1,0
217,Jonathan Leko,West+Brom,18,RW,1,1.50,169,4.5,0.20%,12,1,England,0,1,19,0,0
434,Trent Alexander-Arnold,Liverpool,18,RB,3,1.50,327,4.5,0.30%,15,2,England,0,1,10,1,0
229,Josh Tymon,Stoke+City,18,LB,3,1.00,120,4.5,0.10%,9,1,England,0,1,15,0,0
45,Axel Tuanzebe,Manchester+United,19,CB,3,1.00,279,4.0,1.70%,14,1,England,0,1,12,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Gareth Barry,Everton,36,DM,2,1.50,1331,4.5,1.70%,68,1,England,0,6,7,0,0
90,Damien Delaney,Crystal+Palace,36,CB,3,1.00,195,4.5,0.60%,51,2,Ireland,0,6,6,0,0
38,Artur Boruc,Bournemouth,37,GK,4,1.00,436,4.5,6.90%,120,2,Poland,0,6,2,0,0
143,Gareth McAuley,West+Brom,37,CB,3,1.00,458,5.0,11.80%,131,2,Northern Ireland,0,6,19,0,0
232,Julian Speroni,Crystal+Palace,38,GK,4,0.25,188,4.0,2.00%,0,3,Argentina,0,6,6,0,0

In [ ]:
players.iloc[players.age.idxmin()]

name            Ben Woodburn
club               Liverpool
age                       17
position                  LW
position_cat               1
market_value             1.5
page_views              1241
fpl_value                4.5
fpl_sel                0.10%
fpl_points                 5
region                     1
nationality            Wales
new_foreign                0
age_cat                    1
club_id                   10
big_club                   1
new_signing                0
Name: 53, dtype: object

In [ ]:
players.age.sort_values()

53     17
217    18
434    18
229    18
45     19
       ..
142    36
90     36
38     37
143    37
232    38
Name: age, Length: 465, dtype: int64

In [ ]:
players.loc[players.age == players.age.min()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
53,Ben Woodburn,Liverpool,17,LW,1,1.5,1241,4.5,0.10%,5,1,Wales,0,1,10,1,0

*2. set the club column as the index of the dataframe. then sort the dataframe index in alphabetical order.make sure these changes are applied to underlying dataframe and carry over to the next question*

In [ ]:
players.reset_index(inplace=True)

In [ ]:
players.head()

,club,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,West+Ham,Aaron Cresswell,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
1,Everton,Aaron Lennon,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
2,Huddersfield,Aaron Mooy,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
3,Arsenal,Aaron Ramsey,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
4,Watford,Abdoulaye Doucoure,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0

In [ ]:
players.set_index('club').sort_index(inplace=True)

In [ ]:
players.head()

,club,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,West+Ham,Aaron Cresswell,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
1,Everton,Aaron Lennon,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
2,Huddersfield,Aaron Mooy,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
3,Arsenal,Aaron Ramsey,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
4,Watford,Abdoulaye Doucoure,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0

**3. sort the dataframe values by club and market_value where the club is alphabetical(arsenal first) and the market value in descending order (within each team , the most valuable players first)**

In [ ]:
players.sort_values(by=['club','market_value'],ascending=[True,False])

,index,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
21,21,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
306,306,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
20,20,Alexandre Lacazette,Arsenal,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
3,3,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
152,152,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,122,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
384,384,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
99,99,Darren Randolph,West+Ham,30,GK,4,2.5,459,4.5,0.40%,69,2,Ireland,0,4,20,0,0
179,179,James Collins,West+Ham,33,CB,3,2.0,187,4.5,0.90%,69,2,Wales,0,5,20,0,0
40,40,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

**Identifying dupes**

In [ ]:
players=pd.read_csv(data_url)
players.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Length: 465, dtype: bool

In [ ]:
players.loc[players.duplicated()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [ ]:
# the subset param

In [ ]:
# unique -> club , age , position , market_value

In [ ]:
players.loc[players.duplicated(subset=['club','age','position','market_value'])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
59,Shane Duffy,Brighton+and+Hove,25,CB,3,5.0,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0
260,Fernando,Manchester+City,32,DM,2,18.0,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0
279,Chris Smalling,Manchester+United,27,CB,3,18.0,834,5.5,1.30%,52,1,England,0,3,12,1,0
293,Lascelles,Newcastle+United,27,CB,3,5.0,400,4.5,3.60%,0,1,England,0,3,13,0,0

In [ ]:
#A - first -> original
#A
#A

In [ ]:
players.loc[players.duplicated(subset=['club','age','position','market_value'],keep='first')] # first one to be original

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
59,Shane Duffy,Brighton+and+Hove,25,CB,3,5.0,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0
260,Fernando,Manchester+City,32,DM,2,18.0,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0
279,Chris Smalling,Manchester+United,27,CB,3,18.0,834,5.5,1.30%,52,1,England,0,3,12,1,0
293,Lascelles,Newcastle+United,27,CB,3,5.0,400,4.5,3.60%,0,1,England,0,3,13,0,0

In [ ]:
players.loc[players.duplicated(subset=['club','age','position','market_value'],keep='last')] # last one to be original

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
58,Lewis Dunk,Brighton+and+Hove,25,CB,3,5.0,140,4.5,4.10%,0,1,England,0,3,3,0,0
253,Fernandinho,Manchester+City,32,DM,2,18.0,595,5.0,0.80%,78,3,Brazil,0,5,11,1,0
273,Marcos Rojo,Manchester+United,27,CB,3,18.0,1063,5.5,0.10%,77,3,Argentina,0,3,12,1,0
292,Ciaran Clark,Newcastle+United,27,CB,3,5.0,273,4.5,0.90%,0,2,Ireland,0,3,13,0,0

In [ ]:
players.loc[players.duplicated(subset=['club','age','position','market_value'],keep='last')].shape

(7, 17)

In [ ]:
players.loc[players.duplicated(subset=['club','age','position','market_value'],keep=False)] # keep all of the elements as duplicates

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
58,Lewis Dunk,Brighton+and+Hove,25,CB,3,5.0,140,4.5,4.10%,0,1,England,0,3,3,0,0
59,Shane Duffy,Brighton+and+Hove,25,CB,3,5.0,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0
253,Fernandinho,Manchester+City,32,DM,2,18.0,595,5.0,0.80%,78,3,Brazil,0,5,11,1,0
260,Fernando,Manchester+City,32,DM,2,18.0,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0
273,Marcos Rojo,Manchester+United,27,CB,3,18.0,1063,5.5,0.10%,77,3,Argentina,0,3,12,1,0
279,Chris Smalling,Manchester+United,27,CB,3,18.0,834,5.5,1.30%,52,1,England,0,3,12,1,0
292,Ciaran Clark,Newcastle+United,27,CB,3,5.0,273,4.5,0.90%,0,2,Ireland,0,3,13,0,0
293,Lascelles,Newcastle+United,27,CB,3,5.0,400,4.5,3.60%,0,1,England,0,3,13,0,0

In [ ]:
players.loc[players.duplicated(subset=['club','age','position','market_value'],keep=False)].shape

(13, 18)

**Removing duplicates**

In [ ]:
players[players.duplicated()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [ ]:
players.market_value.mean()

11.125649350649349

In [ ]:
# for true mean market value, we need to exclude the duplicates

In [ ]:
players.drop_duplicates(keep='first')

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players.drop_duplicates(keep='first').market_value.mean()

11.026252723311545

In [ ]:
players.drop_duplicates(keep=False).market_value.mean() # became worse

10.949781181619255

In [ ]:
# duplicates are not necessarily bad, depends on context whether we should remove it or not

**Removing dataframe rows**

In [ ]:
players[players.duplicated()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [ ]:
players.drop(labels=19,axis=0) # can't do with drop_duplicates , droping only index 19 and keeping the others

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players.drop(index=19)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players.drop(index=[19,20,111,112]) #removing  4 rows

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

**Removing columns**

In [ ]:
players.drop(labels=[19,20],axis=1)

KeyError: ignored

In [ ]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [ ]:
players.drop(labels=['age','market_value'],axis=1)

,name,club,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,LW,1,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,AM,1,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,GK,4,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,RW,1,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,CB,3,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,CM,2,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,LB,3,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,RB,3,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,CF,1,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,CF,1,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players.drop(labels=['age','market_value'],axis='columns')

,name,club,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,LW,1,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,AM,1,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,GK,4,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,RW,1,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,CB,3,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,CM,2,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,LB,3,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,RB,3,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,CF,1,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,CF,1,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players.drop(columns=['age','market_value'])

,name,club,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,LW,1,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,AM,1,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,GK,4,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,RW,1,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,CB,3,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,CM,2,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,LB,3,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,RB,3,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,CF,1,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,CF,1,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

**Another way: .pop()**

In [ ]:
# 3 points to consider
# pop() works on a single column at a time
# pop() returns the removed column as a series
# pop() modifies the underlying dataframe(operates inplace)

In [ ]:
players.pop('club')

0       Arsenal
1       Arsenal
2       Arsenal
3       Arsenal
4       Arsenal
         ...
460    West+Ham
461    West+Ham
462    West+Ham
463    West+Ham
464    West+Ham
Name: club, Length: 465, dtype: object

In [ ]:
players.columns # no club

Index(['name', 'age', 'position', 'position_cat', 'market_value', 'page_views',
       'fpl_value', 'fpl_sel', 'fpl_points', 'region', 'nationality',
       'new_foreign', 'age_cat', 'club_id', 'big_club', 'new_signing'],
      dtype='object')

In [ ]:
# should use drop

**A sophisticated alternative**

In [ ]:
# reindex to remove rows / columns
players=pd.read_csv(data_url)

In [ ]:
players.reindex(index=[0,3,9])

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0

In [ ]:
unwanted_rows=[1,2,3,4]
unwanted_cols=['name','position','position_cat']

In [ ]:
players.reindex(index=set(players.index).difference(unwanted_rows),columns=set(players.columns).difference(unwanted_cols))

,fpl_points,page_views,new_signing,big_club,market_value,fpl_sel,age_cat,age,club_id,club,nationality,fpl_value,region,new_foreign
0,264,4329,0,1,65.0,17.10%,4,28,1,Arsenal,Chile,12.0,3,0
5,119,1675,0,1,30.0,13.70%,2,22,1,Arsenal,Spain,6.0,2,0
6,116,2230,0,1,22.0,2.50%,4,30,1,Arsenal,France,8.5,2,0
7,115,555,0,1,13.0,4.70%,4,31,1,Arsenal,Spain,5.5,2,0
8,90,1877,1,1,30.0,4.00%,3,25,1,Arsenal,Germany,5.5,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,38,288,1,0,5.0,0.40%,1,21,20,West+Ham,Switzerland,4.5,2,0
461,34,199,1,0,7.0,0.20%,2,23,20,West+Ham,Congo DR,4.5,4,0
462,29,198,0,0,4.5,0.30%,2,23,20,West+Ham,England,4.5,1,0
463,16,412,1,0,1.0,5.90%,1,21,20,West+Ham,England,4.5,1,0
464,12,214,0,0,10.0,0.10%,3,27,20,West+Ham,Senegal,5.5,4,0

**Null values in datasets**

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [ ]:
players.shape

(465, 17)

In [ ]:
# series refresher

In [ ]:
ages=players.age

In [ ]:
ages.isna()

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: age, Length: 465, dtype: bool

In [ ]:
ages[ages.isna()]

Series([], Name: age, dtype: int64)

In [ ]:
# dataframe

In [ ]:
players.isna()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
461,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
462,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
463,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
464,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
players.isna().sum()

name            0
club            0
age             0
position        1
position_cat    0
market_value    3
page_views      0
fpl_value       0
fpl_sel         0
fpl_points      0
region          0
nationality     0
new_foreign     0
age_cat         0
club_id         0
big_club        0
new_signing     0
dtype: int64

In [ ]:
np.count_nonzero(players.isna())

4

In [ ]:
players[players.isna().values].drop_duplicates()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

**Dropping and filling dataframe NAs**

In [ ]:
players.fillna("some meaningful replacement value").loc[[30,192,195]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,some meaningful replacement value,2,some meaningful replacement value,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,some meaningful replacement value,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,some meaningful replacement value,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
# instead of generic value we could use meaningful for each na including columns

In [ ]:
players.fillna({'market_value':players.market_value.mean(),'position':'RM'}).loc[[30,192,195]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,RM,2,11.125649,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,11.125649,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,11.125649,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
# how about dropping nulls

In [ ]:
players.dropna()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players.dropna().loc[[30,192,195]]

KeyError: ignored

In [ ]:
players.dropna(axis=1,how='any').loc[[30,192,195]]

,name,club,age,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,2,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,1,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,4,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
players.dropna(axis=1,how='all').loc[[30,192,195]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

**Methods and axes with fillna()**

In [ ]:
players[players.isna().values].drop_duplicates()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
players.fillna(method='ffill').loc[[30,192,195]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,LB,2,15.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,3.0,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,30.0,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
# here ffill is doing forward filling

In [ ]:
players.fillna(method='ffill').loc[[29,30,192,195]] # see index label 29's position and market_value

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.0,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
30,Granit Xhaka,Arsenal,24,LB,2,15.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,3.0,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,30.0,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
players.fillna(method='ffill').loc[[29,30,191,192,194,195]] # in this method default axis is 0

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.0,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
30,Granit Xhaka,Arsenal,24,LB,2,15.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
191,Laurent Depoitre,Huddersfield,28,CF,1,3.0,212,5.5,0.30%,0,2,Belgium,0,4,8,0,0
192,Steve Mounie,Huddersfield,22,CF,1,3.0,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
194,Riyad Mahrez,Leicester+City,26,RW,1,30.0,1753,8.5,1.70%,120,4,Algeria,0,3,9,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,30.0,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
players.fillna(method='ffill',axis=0).loc[[29,30,191,192,194,195]] # when axis=0 filling happens vertically

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.0,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
30,Granit Xhaka,Arsenal,24,LB,2,15.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
191,Laurent Depoitre,Huddersfield,28,CF,1,3.0,212,5.5,0.30%,0,2,Belgium,0,4,8,0,0
192,Steve Mounie,Huddersfield,22,CF,1,3.0,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
194,Riyad Mahrez,Leicester+City,26,RW,1,30.0,1753,8.5,1.70%,120,4,Algeria,0,3,9,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,30.0,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
players.fillna(method='ffill',axis=1).loc[[30,192,195]] # now the filling is happening horizontally which is not meaningfull in this context

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,24,2,2,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,1,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,4,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
""" when axis =0 ,
method = ffill ( forward to backward)
method = bfill ( backward to forward)

when axis = 1
method = ffill (left to right)
method = bfill (right to left)
"""

' when axis =0 , \nmethod = ffill ( forward to backward)\nmethod = bfill ( backward to forward)\n\nwhen axis = 1\nmethod = ffill (left to right)\nmethod = bfill (right to left)\n'

In [ ]:
# it make sense in sometimes, like when don't have a price then price of previous day and price of next day might be a good choice

In [ ]:
#"fill" -> 'pad'
#"bfill" -> 'backfill' [ they are functionally identical]

In [ ]:
players.fillna(method='pad',axis=1).loc[[30,192,195]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,24,2,2,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,1,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,4,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [ ]:
# word of the lecture , duo -> pair

**SKILL CHALLENGE**

*1. From our players dataframe remove the rows labeled 2,10,21 and the market value columns . do not modify the underlying dataframe . assign the result to df2*

In [ ]:
df2=players.drop(index =[2,10,21],columns=['market_value'])

In [ ]:
df2

,name,club,age,position,position_cat,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

*2. Does the nationality column in df2 contain any NA values? How many unique nationalities are there.?*

In [ ]:
df2.nationality.isna().sum()

0

In [ ]:
df2.nationality.unique()

array(['Chile', 'Germany', 'England', 'France', 'Spain', 'Nigeria',
       'Switzerland', 'Wales', 'Brazil', 'Egypt', 'Argentina', 'Colombia',
       'Bosnia', 'Norway', 'Poland', 'Scotland', 'Congo DR', 'Ireland',
       'Netherlands', 'Australia', "Cote d'Ivoire", 'Finland', 'Cameroon',
       'Austria', 'Israel', 'Czech Republic', 'Northern Ireland',
       'Canada', 'Belgium', 'Iceland', 'Serbia', 'Portugal', 'Ghana',
       'South Korea', 'Mali', 'Senegal', 'Curacao', 'Denmark', 'Slovenia',
       'Trinidad and Tobago', 'Bermuda', 'Benin', 'Algeria', 'Jamaica',
       'Japan', 'Tunisia', 'Croatia', 'Estonia', 'Ecuador', 'Armenia',
       'Italy', 'Sweden', 'United States', 'Morocco', 'The Gambia',
       'Kenya', 'Greece', 'Uruguay', 'Romania', 'Venezuela',
       'New Zealand'], dtype=object)

In [ ]:
df2.nationality.value_counts()

England                157
Spain                   28
France                  25
Netherlands             20
Belgium                 18
                      ...
Benin                    1
Bermuda                  1
Trinidad and Tobago      1
Slovenia                 1
New Zealand              1
Name: nationality, Length: 61, dtype: int64

In [ ]:
df2.nationality.unique()

array(['Chile', 'Germany', 'England', 'France', 'Spain', 'Nigeria',
       'Switzerland', 'Wales', 'Brazil', 'Egypt', 'Argentina', 'Colombia',
       'Bosnia', 'Norway', 'Poland', 'Scotland', 'Congo DR', 'Ireland',
       'Netherlands', 'Australia', "Cote d'Ivoire", 'Finland', 'Cameroon',
       'Austria', 'Israel', 'Czech Republic', 'Northern Ireland',
       'Canada', 'Belgium', 'Iceland', 'Serbia', 'Portugal', 'Ghana',
       'South Korea', 'Mali', 'Senegal', 'Curacao', 'Denmark', 'Slovenia',
       'Trinidad and Tobago', 'Bermuda', 'Benin', 'Algeria', 'Jamaica',
       'Japan', 'Tunisia', 'Croatia', 'Estonia', 'Ecuador', 'Armenia',
       'Italy', 'Sweden', 'United States', 'Morocco', 'The Gambia',
       'Kenya', 'Greece', 'Uruguay', 'Romania', 'Venezuela',
       'New Zealand'], dtype=object)

In [ ]:
len(df2.nationality.unique())

61

*3. Starting from df2 , isolate a dataframe slice of players that contains only the unique age-position combinations for each club. Do not inlcude the club column itself*

In [ ]:
df2.drop_duplicates(subset=['age','club','position'],keep='first').loc[:,['age','position']]

     age position
0     28       LW
1     28       AM
3     28       RW
4     31       CB
5     22       RB
..   ...      ...
460   21       CM
461   23       LB
462   23       RB
463   21       CF
464   27       CF

[433 rows x 2 columns]

**Calculating Aggregates with agg()**

In [ ]:
# aggregate - a whole formed by combining several separate elements.

In [ ]:
players.agg("mean") # mean of the columns

<ipython-input-157-b095e9edca07>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.agg("mean") # mean of the columns

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [ ]:
players.new_signing

0      0
1      0
2      0
3      0
4      0
      ..
460    1
461    1
462    0
463    1
464    0
Name: new_signing, Length: 465, dtype: int64

In [ ]:
players.new_signing.mean()

0.14408602150537633

In [ ]:
players.agg('min')

<ipython-input-160-275f15cfb183>:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.agg('min')

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                   4.0
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [ ]:
players.agg(min)

<ipython-input-161-3095c96cd2de>:1: FutureWarning: The operation <built-in function min> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  players.agg(min)

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                   4.0
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [ ]:
players.agg(np.min)

<ipython-input-162-c0084bc3505d>:1: FutureWarning: The operation <function amin at 0x7acc01a28dc0> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  players.agg(np.min)

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                   4.0
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [ ]:
# aside
# > , < ,>= ,<= ,== should have meaning

In [ ]:
'a' < 'b'

True

In [ ]:
ord('a')

97

In [ ]:
ord('b')

98

In [ ]:
ls=['a','b','c','day']

In [ ]:
min(ls)

'a'

In [ ]:
ls=['a','b','c','day',20.1]

In [ ]:
min(ls)

TypeError: ignored

In [ ]:
# to do agg in selected dtypes

In [ ]:
players.select_dtypes(np.number).agg('min')

age             17.00
position_cat     1.00
market_value     0.05
page_views       3.00
fpl_value        4.00
fpl_points       0.00
region           1.00
new_foreign      0.00
age_cat          1.00
club_id          1.00
big_club         0.00
new_signing      0.00
dtype: float64

In [ ]:
players.select_dtypes(np.number).agg(['min','max','mean'])

,age,position_cat,market_value,page_views,fpl_value,fpl_points,region,new_foreign,age_cat,club_id,big_club,new_signing
min,17.000000,1.000000,0.050000,3.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,38.000000,4.000000,75.000000,7664.000000,12.500000,264.000000,4.000000,1.000000,6.000000,20.000000,1.000000,1.000000
mean,26.776344,2.178495,11.125649,771.546237,5.450538,57.544086,1.989247,0.034409,3.195699,10.253763,0.309677,0.144086

**Same shape transforms**

In [ ]:
players.head(3)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0

In [ ]:
#usdeur=0.91

In [ ]:
players.loc[:,['market_value','fpl_value']].transform(lambda x:x*0.91) # x representing market_value and fpl_value

     market_value  fpl_value
0          59.150     10.920
1          45.500      8.645
2           6.370      5.005
3          18.200      6.825
4          20.020      5.460
..            ...        ...
460         4.550      4.095
461         6.370      4.095
462         4.095      4.095
463         0.910      4.095
464         9.100      5.005

[465 rows x 2 columns]

In [ ]:
players.loc[:,['market_value','fpl_value']]*0.91

     market_value  fpl_value
0          59.150     10.920
1          45.500      8.645
2           6.370      5.005
3          18.200      6.825
4          20.020      5.460
..            ...        ...
460         4.550      4.095
461         6.370      4.095
462         4.095      4.095
463         0.910      4.095
464         9.100      5.005

[465 rows x 2 columns]

In [ ]:
#==aside
#choice

In [ ]:
from random import choice

In [ ]:
names=['bud','brooke','paleo']

In [ ]:
choice(names)

'bud'

In [ ]:
# 2. str methods

In [ ]:
'zubair'.upper()

'ZUBAIR'

In [ ]:
ser=pd.Series(names)

In [ ]:
ser.upper()

AttributeError: ignored

In [ ]:
ser.str.upper()

0       BUD
1    BROOKE
2     PALEO
dtype: object

In [ ]:
#==end aside

In [ ]:
# the function should
# - apply a random string capitalization method
# - to a sequence of values, and
# - return the transformed sequence

In [ ]:
def random_case(x):
  funcs=[x.str.swapcase,x.str.lower,x.str.title,x.str.upper]
  return choice(funcs)()

In [ ]:
players.select_dtypes(include=object).transform(random_case)

                    name      club position fpl_sel     nationality
0         ALEXIS SANCHEZ   ARSENAL       LW  17.10%           chile
1             MESUT OZIL   ARSENAL       AM   5.60%         germany
2              PETR CECH   ARSENAL       GK   5.90%  czech republic
3           THEO WALCOTT   ARSENAL       RW   1.50%         england
4      LAURENT KOSCIELNY   ARSENAL       CB   0.70%          france
..                   ...       ...      ...     ...             ...
460  EDIMILSON FERNANDES  WEST+HAM       CM   0.40%     switzerland
461       ARTHUR MASUAKU  WEST+HAM       LB   0.20%        congo dr
462            SAM BYRAM  WEST+HAM       RB   0.30%         england
463      ASHLEY FLETCHER  WEST+HAM       CF   5.90%         england
464         DIAFRA SAKHO  WEST+HAM       CF   0.10%         senegal

[465 rows x 5 columns]

In [ ]:
for i in range(4):
  print(players.select_dtypes(include=object).transform(random_case).head(4))

             name     club position fpl_sel     nationality
0  aLEXIS sANCHEZ  ARSENAL       lw  17.10%           Chile
1      mESUT oZIL  ARSENAL       am   5.60%         Germany
2       pETR cECH  ARSENAL       gk   5.90%  Czech Republic
3    tHEO wALCOTT  ARSENAL       rw   1.50%         England
             name     club position fpl_sel     nationality
0  alexis sanchez  aRSENAL       LW  17.10%           Chile
1      mesut ozil  aRSENAL       AM   5.60%         Germany
2       petr cech  aRSENAL       GK   5.90%  Czech Republic
3    theo walcott  aRSENAL       RW   1.50%         England
             name     club position fpl_sel     nationality
0  alexis sanchez  ARSENAL       LW  17.10%           cHILE
1      mesut ozil  ARSENAL       AM   5.60%         gERMANY
2       petr cech  ARSENAL       GK   5.90%  cZECH rEPUBLIC
3    theo walcott  ARSENAL       RW   1.50%         eNGLAND
             name     club position fpl_sel     nationality
0  aLEXIS sANCHEZ  Arsenal       lw  17.10%           Chile
1      mESUT oZIL  Arsenal       am   5.60%         Germany
2       pETR cECH  Arsenal       gk   5.90%  Czech Republic
3    tHEO wALCOTT  Arsenal       rw   1.50%         England

In [ ]:
players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
# we are not changing the structure and shape of the dataframe unlike the agg , applying modification in place

**more flexibility with apply()**

In [ ]:
# apply provides to apply a function to entire dataframe

In [ ]:
def round_floats(x):
  if x.dtype==np.float64:
    return round(x)
  return x

In [ ]:
players.apply(round_floats)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,10.0,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,6.0,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,8.0,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.0,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.0,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.0,198,4.0,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.0,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,6.0,0.10%,12,4,Senegal,0,3,20,0,0

In [ ]:
players.select_dtypes(np.float64).apply(round_floats).head()

   market_value  fpl_value
0          65.0       12.0
1          50.0       10.0
2           7.0        6.0
3          20.0        8.0
4          22.0        6.0

In [ ]:
players.select_dtypes(np.float64).transform(round_floats).head()

   market_value  fpl_value
0          65.0       12.0
1          50.0       10.0
2           7.0        6.0
3          20.0        8.0
4          22.0        6.0

In [ ]:
# but apply is a bit more flexible and powerful. it has more general scope . apply() = agg() + transform()

In [ ]:
#apply as agg()

In [ ]:
players.agg('mean')

<ipython-input-176-c3fe13e24e62>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.agg('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [ ]:
players.apply('mean')

<ipython-input-177-2b24b49af9db>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.apply('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [ ]:
players.transform('mean')

<ipython-input-178-bbe57149f815>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.transform('mean')

ValueError: ignored

In [ ]:
# df.apply() -> is aggregation required ? -> if yes, df.agg() -> if not, df.transform()

In [ ]:
players.apply('mean',axis=0)

<ipython-input-179-f31cc5c74cd0>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  players.apply('mean',axis=0)

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [ ]:
players.apply('mean',axis=1) # not meaningful

<ipython-input-180-d1781cd7ca87>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  players.apply('mean',axis=1) # not meaningful

0      392.333333
1      388.208333
2      143.708333
3      214.875000
4       91.916667
          ...
460     31.875000
461     24.791667
462     23.750000
463     39.875000
464     24.708333
Length: 465, dtype: float64

In [ ]:
players.loc[460,:]

name            Edimilson Fernandes
club                       West+Ham
age                              21
position                         CM
position_cat                      2
market_value                    5.0
page_views                      288
fpl_value                       4.5
fpl_sel                       0.40%
fpl_points                       38
region                            2
nationality             Switzerland
new_foreign                       0
age_cat                           1
club_id                          20
big_club                          0
new_signing                       1
Name: 460, dtype: object

In [ ]:
players.loc[460,:].select_dtypes

AttributeError: ignored

In [ ]:
# cz select_dtypes only workd on dataframe, not on series

In [ ]:
players.loc[460,[dtype != object for dtype in players.dtypes]].mean()

31.875

**Element wise operations with applymap()**

In [ ]:
# vectorized ops: agg(), transform() , apply()
# non vectorized: applymap()

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [ ]:
# -2%/year

In [ ]:
inflation = 1.02

In [ ]:
mini_df=players.loc[:,['market_value','fpl_value']]

In [ ]:
mini_df*inflation

     market_value  fpl_value
0           66.30      12.24
1           51.00       9.69
2            7.14       5.61
3           20.40       7.65
4           22.44       6.12
..            ...        ...
460          5.10       4.59
461          7.14       4.59
462          4.59       4.59
463          1.02       4.59
464         10.20       5.61

[465 rows x 2 columns]

In [ ]:
from datetime import datetime
counter=0

def log_and_transform(x):
  global counter
  counter +=1
  if counter %100 ==0:
    print(f'Its {datetime.now()} and I just added the {counter}th value')
  return x*inflation

In [ ]:
import sys
sys.version

'3.10.6 (main, May 29 2023, 11:10:38) [GCC 11.3.0]'

In [ ]:
mini_df.applymap(log_and_transform)

Its 2023-07-24 17:24:01.400333 and I just added the 100th value
Its 2023-07-24 17:24:01.401266 and I just added the 200th value
Its 2023-07-24 17:24:01.401362 and I just added the 300th value
Its 2023-07-24 17:24:01.401500 and I just added the 400th value
Its 2023-07-24 17:24:01.402228 and I just added the 500th value
Its 2023-07-24 17:24:01.404356 and I just added the 600th value
Its 2023-07-24 17:24:01.404468 and I just added the 700th value
Its 2023-07-24 17:24:01.404552 and I just added the 800th value
Its 2023-07-24 17:24:01.404629 and I just added the 900th value

     market_value  fpl_value
0           66.30      12.24
1           51.00       9.69
2            7.14       5.61
3           20.40       7.65
4           22.44       6.12
..            ...        ...
460          5.10       4.59
461          7.14       4.59
462          4.59       4.59
463          1.02       4.59
464         10.20       5.61

[465 rows x 2 columns]

In [ ]:
mini_df.apply(log_and_transform)

     market_value  fpl_value
0           66.30      12.24
1           51.00       9.69
2            7.14       5.61
3           20.40       7.65
4           22.44       6.12
..            ...        ...
460          5.10       4.59
461          7.14       4.59
462          4.59       4.59
463          1.02       4.59
464         10.20       5.61

[465 rows x 2 columns]

**skill challenge**

*1. create a standalone function that,
1.   accepts a single param x
2.   return the string 'relatively unknown' if x is less than 220
3.   'king of popular' if x is between 220 and 600 (non-inclusive)
4.   'popular' if x is between 600 and 200 (non-inclusive)
5.   'super-popular' otherwise*

In [ ]:
def standalone(x):
  if x<220:
    return 'relatively unknows'
  elif(x < 600):
    return 'king of popular'
  elif(x < 2000):
    return 'popular'
  else:
    return 'super-popular'

*2. Apply the function to the players page_views column.use a method that supports vectorized operations*

In [ ]:
players.page_views.apply(standalone)

0           super-popular
1           super-popular
2                 popular
3           super-popular
4                 popular
              ...
460       king of popular
461    relatively unknows
462    relatively unknows
463       king of popular
464    relatively unknows
Name: page_views, Length: 465, dtype: object

*3. add the output of the step above as a new column to the players.name the new column popularity*

In [ ]:
players['popularity']=players.page_views.apply(standalone)

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

*4. how many super-popular players are there*

In [ ]:
players[players.popularity == 'super-popular'].name

0             Alexis Sanchez
1                 Mesut Ozil
3               Theo Walcott
6             Olivier Giroud
24               Lucas Perez
33             Jermain Defoe
96               Eden Hazard
97               Diego Costa
99     Marcos Alonso Mendoza
103               David Luiz
104            Cesc Fabregas
106             Victor Moses
108           N%27Golo Kante
147             Wayne Rooney
193              Jamie Vardy
217          Roberto Firmino
218        Philippe Coutinho
219               Sadio Mane
230         Daniel Sturridge
244          Kevin De Bruyne
245            Sergio Aguero
246          Raheem Sterling
249               Leroy Sane
252               Yaya Toure
255            Gabriel Jesus
264            Romelu Lukaku
265             David de Gea
267               Paul Pogba
269                Juan Mata
272          Anthony Martial
274          Marcus Rashford
275       Henrikh Mkhitaryan
326        Manolo Gabbiadini
340             Peter Crouch
380                Dele Alli
381               Harry Kane
383            Son Heung-min
Name: name, dtype: object

In [ ]:
players.popularity.value_counts()

king of popular       170
popular               143
relatively unknows    115
super-popular          37
Name: popularity, dtype: int64

**Setting dataframe values**

In [ ]:
players.loc[3,'position']='CM'

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,CM,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [ ]:
players.iloc[3,3]='RW'

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [ ]:
#at() and iat() should be preferable for single value assignment

In [ ]:
players.at[3,'position']='CM'

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,CM,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [ ]:
players.iat[3,3]='RW'

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

**The SettingWithCopy warning**

In [ ]:
players['page_views'][2]=2001  # chain indexing

<ipython-input-222-321d99093855>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['page_views'][2]=2001

In [ ]:
#pandas giving a warning: that it can't gurantee that the assignment we are trying to do are actually happen in underlying dataframe

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [ ]:
players.drop_duplicates()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1,king of popular
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1,relatively unknows
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0,relatively unknows
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1,king of popular
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0,relatively unknows

In [ ]:
# this is a copy of our actual dataframe. if we try to do assignment here,

In [ ]:
players.drop_duplicates()['page_views'][2]=3000

<ipython-input-228-0b6b7d32ad86>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players.drop_duplicates()['page_views'][2]=3000

In [ ]:
# same warning as we are doing this on a copy

In [ ]:
pd.options.mode.chained_assignment='warn' # currently this

In [ ]:
#"None" -> turns the SettingWithCopyWarning off

**View vs Copy**

In [ ]:
# view -> a window into data. if we modify it , we end up modifying the actual dataframe
# copy -> a copy of the data. if we modify it, it doesnot modify the actual one

In [ ]:
# how do we tell?
# 2 point rule -
#  1. pandas loves to give us copies, but
#  2. if we use loc/iloc or at/iat, we are guranteed to get a view

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,GK,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [ ]:
players.loc[0:3,'position']=['CM','RW','CB','GK']

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
0,Alexis Sanchez,Arsenal,28,CM,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular
1,Mesut Ozil,Arsenal,28,RW,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular
2,Petr Cech,Arsenal,35,CB,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular
3,Theo Walcott,Arsenal,28,GK,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular

In [ ]:
players.loc[players.name.str.startswith('Aaron'),'name'] = 'Ronny'

In [ ]:
players.loc[[15,157,176,455]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
15,Ronny,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0,popular
157,Ronny,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0,king of popular
176,Ronny,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0,king of popular
455,Ronny,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0,king of popular

In [ ]:
# do no do this

In [ ]:
players['age'].iloc[1]=12

<ipython-input-242-cdd1f8e9c310>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players['age'].iloc[1]=12

In [ ]:
players.drop_duplicates().loc[3,'position']='CM'

**Adding dataframe columns**

In [ ]:
'MVtoFPL' in players

False

In [ ]:
'popularity' in players

True

In [ ]:
players['MVtoFPL']=1.0

In [ ]:
'MVtoFPL' in players

True

In [ ]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity,MVtoFPL
0,Alexis Sanchez,Arsenal,28,CM,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular,1.0
1,Mesut Ozil,Arsenal,12,RW,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular,1.0
2,Petr Cech,Arsenal,35,CB,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular,1.0
3,Theo Walcott,Arsenal,28,GK,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular,1.0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular,1.0

In [ ]:
players['MVtoFPL']=players['market_value'] / players['fpl_value']

In [ ]:
players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity,MVtoFPL
0,Alexis Sanchez,Arsenal,28,CM,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0,super-popular,5.416667
1,Mesut Ozil,Arsenal,12,RW,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0,super-popular,5.263158
2,Petr Cech,Arsenal,35,CB,4,7.0,2001,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0,popular,1.272727
3,Theo Walcott,Arsenal,28,GK,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0,super-popular,2.666667
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0,popular,3.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1,king of popular,1.111111
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1,relatively unknows,1.555556
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0,relatively unknows,1.000000
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1,king of popular,0.222222
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0,relatively unknows,1.818182

In [ ]:
df_mini=players.iloc[:4,1:5]

In [ ]:
df_mini

      club  age position  position_cat
0  Arsenal   28       CM             1
1  Arsenal   12       RW             1
2  Arsenal   35       CB             4
3  Arsenal   28       GK             1

In [ ]:
player_name=pd.Series(['zubair','rahat','safty','arnob'])

In [ ]:
player_name

0    zubair
1     rahat
2     safty
3     arnob
dtype: object

In [ ]:
df_mini.insert(0,'nicknames',player_name)

In [ ]:
df_mini

  nicknames     club  age position  position_cat
0    zubair  Arsenal   28       CM             1
1     rahat  Arsenal   12       RW             1
2     safty  Arsenal   35       CB             4
3     arnob  Arsenal   28       GK             1

In [ ]:
# the assign() appraoch

In [ ]:
df_mini.assign(career_goals=[12,67,179,49]) # we could add multiple columns at once

  nicknames     club  age position  position_cat  career_goals
0    zubair  Arsenal   28       CM             1            12
1     rahat  Arsenal   12       RW             1            67
2     safty  Arsenal   35       CB             4           179
3     arnob  Arsenal   28       GK             1            49

In [ ]:
df_mini.assign(career_goals=[12,67,179,49],nationality=['American','British','Turkish','Indian'])

  nicknames     club  age position  position_cat  career_goals nationality
0    zubair  Arsenal   28       CM             1            12    American
1     rahat  Arsenal   12       RW             1            67     British
2     safty  Arsenal   35       CB             4           179     Turkish
3     arnob  Arsenal   28       GK             1            49      Indian

In [ ]:
df_mini

  nicknames     club  age position  position_cat
0    zubair  Arsenal   28       CM             1
1     rahat  Arsenal   12       RW             1
2     safty  Arsenal   35       CB             4
3     arnob  Arsenal   28       GK             1

**Addign rows to dataframe**

In [ ]:
# the append() method -> series, df or a collection of them

In [ ]:
cristiano=pd.Series({
    'nicknames':'cristiano',
    'age':32,
    'position':'RW',
    'club':'Juventus',
    'position_cat':1
},name=4)

In [ ]:
cristiano

nicknames       cristiano
age                    32
position               RW
club             Juventus
position_cat            1
dtype: object

In [ ]:
df_mini.append(cristiano)

<ipython-input-270-5d099e52bfe9>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_mini.append(cristiano)

   nicknames      club  age position  position_cat
0     zubair   Arsenal   28       CM             1
1      rahat   Arsenal   12       RW             1
2      safty   Arsenal   35       CB             4
3      arnob   Arsenal   28       GK             1
4  cristiano  Juventus   32       RW             1

In [ ]:
# df_mini.append([player1,player2,....])

In [ ]:
other_players=pd.DataFrame({
    'nicknames':['Gianluigi','Lionel'],
    'age':[37,32],
    'club':['juventus','Barcelona'],
    'position':['GK','CF'],
    'position_cat':[4,2]
},index=[5,6])

In [ ]:
other_players

   nicknames  age       club position  position_cat
5  Gianluigi   37   juventus       GK             4
6     Lionel   32  Barcelona       CF             2

In [ ]:
df_mini=df_mini.append(other_players)

<ipython-input-275-c0cc0849f4f5>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_mini=df_mini.append(other_players)

In [ ]:
df_mini

   nicknames       club  age position  position_cat
0     zubair    Arsenal   28       CM             1
1      rahat    Arsenal   12       RW             1
2      safty    Arsenal   35       CB             4
3      arnob    Arsenal   28       GK             1
5  Gianluigi   juventus   37       GK             4
6     Lionel  Barcelona   32       CF             2

In [ ]:
# setting with enlargement

In [ ]:
# df['inexistant label']='some value'

In [ ]:
df_mini.loc[9]='some value'

In [ ]:
df_mini

    nicknames        club         age    position position_cat
0      zubair     Arsenal          28          CM            1
1       rahat     Arsenal          12          RW            1
2       safty     Arsenal          35          CB            4
3       arnob     Arsenal          28          GK            1
5   Gianluigi    juventus          37          GK            4
6      Lionel   Barcelona          32          CF            2
9  some value  some value  some value  some value   some value

In [ ]:
# adding rows to dataframe is inefficient ( a very expensive operation)

**How are dataframes stored in memory**

In [ ]:
players.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Columns: 19 entries, name to MVtoFPL
dtypes: float64(3), int64(10), object(6)
memory usage: 69.1+ KB

**Skill challenge**

*1. from the players dataframe select 4 columns and 4 rows , of no particular order.assing it to df_random*

In [ ]:
df_random=players.sample(n=4,axis=0).sample(n=4,axis=1)

*2. Extend df_random 1) vertically by adding a new row, 2) horizontally by adding a new column*

In [ ]:
df_random

                name       nationality  club_id  new_signing
109  Willy Caballero         Argentina        5            0
168       Chris Lowe           Germany        8            0
384      Hugo Lloris            France       17            0
432      Jonny Evans  Northern Ireland       19            0

In [ ]:
row_add=pd.Series({
    'name':'zubair',
    'nationality':'Bangladesh',
    'club_id':20,
    'new_signing':1
},name=499)

In [ ]:
df_random.append(row_add)

<ipython-input-292-4f032404c1e4>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_random.append(row_add)

                name       nationality  club_id  new_signing
109  Willy Caballero         Argentina        5            0
168       Chris Lowe           Germany        8            0
384      Hugo Lloris            France       17            0
432      Jonny Evans  Northern Ireland       19            0
499           zubair        Bangladesh       20            1

In [ ]:
df_random.assign(career_goals=[100,200,300,400])

                name       nationality  club_id  new_signing  career_goals
109  Willy Caballero         Argentina        5            0           100
168       Chris Lowe           Germany        8            0           200
384      Hugo Lloris            France       17            0           300
432      Jonny Evans  Northern Ireland       19            0           400

**3. Compare the relative performance of the operations above. Is adding a row or column faster ? is there a significance differnce?**

In [ ]:
%timeit df_random.assign(career_goals=[100,200,300,400])

384 s  54.4 s per loop (mean  std. dev. of 7 runs, 1000 loops each)

In [ ]:
%timeit df_random.append(pd.Series({'name':'zubair','nationality':'Bangladesh','club_id':20,'new_signing':1},name=499))

<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

2.2 ms  93.3 s per loop (mean  std. dev. of 7 runs, 100 loops each)

<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<magic-timeit>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.